:root {
    --nav-gradient: linear-gradient(to right, #DA86EF, #FE154A);
}
body {
    background-image: url('../../content/img/ohm-body-background.png');
    background-repeat: no-repeat;
    background-size: cover;
}
nav {
    background: var(--nav-gradient);
}

.square {
    background: var(--nav-gradient);
    border-radius: 1em;
}

@media screen and (max-width: 768px) {
    body {
        background-image: url('../../content/img/ohm-body-background.png');
        background-position: 50% 50%;
    }
}