:root {
    --nav-gradient: linear-gradient(to right, #DA86EF, #FE154A);
}
body {
    background-image: url('../../content/img/ohm-body-background.png');
    background-repeat: no-repeat;
    background-size: cover;
}
nav {
    background: var(--nav-gradient);
}


@media screen and (max-width: 768px) {
    body {
        background-image: url('../../content/img/ohm-body-background.png');
    }
}
.pangolin-regular {
  font-family: "Pangolin", cursive;
  font-weight: 400;
  font-style: normal;
}
